

.customSelect {
    position: relative;
    width: auto;
    max-width: 100%;
}
  
.selectBox {
    cursor: pointer;
    user-select: none;
    position: relative;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--title-font);
    font-weight: 500;
    padding: 0px;
    padding-right: 23px;
    text-transform: capitalize;
}

.header-style-two .selectBox{
    color: #ffffff;
  }

.selectBox:before{
    position: absolute;
    content: "\f102";
    font-family: 'flaticon';
    font-size: 20px;
    top: 1px;
    right: 0px;
    color: #a6b3b0;
}
  
.options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-top: 5px;
    min-width: 100px;
}
  
.option {
    padding: 6px 20px;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 1px solid #e5e5e5;
}

.option:hover{
    background: #f5f5f5;
}

.option:last-child{
    border-bottom: none;
}
  