@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon_mycollection.ttf?b62dc249e1a880cc2acabc98b67a2102") format("truetype"),
url("../fonts/flaticon_mycollection.woff?b62dc249e1a880cc2acabc98b67a2102") format("woff"),
url("../fonts/flaticon_mycollection.woff2?b62dc249e1a880cc2acabc98b67a2102") format("woff2"),
url("../fonts/flaticon_mycollection.eot?b62dc249e1a880cc2acabc98b67a2102#iefix") format("embedded-opentype"),
url("../fonts/flaticon_mycollection.svg?b62dc249e1a880cc2acabc98b67a2102#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-earth:before {
    content: "\f101";
}
.flaticon-down-arrow:before {
    content: "\f102";
}
.flaticon-search:before {
    content: "\f103";
}
.flaticon-right-arrow:before {
    content: "\f104";
}
.flaticon-left-align:before {
    content: "\f105";
}
.flaticon-right:before {
    content: "\f106";
}
.flaticon-right-up:before {
    content: "\f107";
}
.flaticon-checked:before {
    content: "\f108";
}
.flaticon-play-buttton:before {
    content: "\f109";
}
.flaticon-live-chat:before {
    content: "\f10a";
}
.flaticon-right-down:before {
    content: "\f10b";
}
.flaticon-left:before {
    content: "\f10c";
}
.flaticon-right-arrow-1:before {
    content: "\f10d";
}
.flaticon-quotation:before {
    content: "\f10e";
}
.flaticon-rate-star-button:before {
    content: "\f10f";
}
.flaticon-book:before {
    content: "\f110";
}
.flaticon-apple:before {
    content: "\f111";
}
.flaticon-up-arrow:before {
    content: "\f112";
}
.flaticon-facebook:before {
    content: "\f113";
}
.flaticon-instagram-logo:before {
    content: "\f114";
}
.flaticon-youtube:before {
    content: "\f115";
}
.flaticon-user:before {
    content: "\f116";
}
.flaticon-check:before {
    content: "\f117";
}
.flaticon-exchange:before {
    content: "\f118";
}
.flaticon-checked-1:before {
    content: "\f119";
}
.flaticon-check-1:before {
    content: "\f11a";
}
.flaticon-thunder:before {
    content: "\f11b";
}
.flaticon-turn-up:before {
    content: "\f11c";
}
.flaticon-download:before {
    content: "\f11d";
}
.flaticon-phone-call:before {
    content: "\f11e";
}
.flaticon-filter:before {
    content: "\f11f";
}
.flaticon-growth:before {
    content: "\f120";
}
.flaticon-heart:before {
    content: "\f121";
}
.flaticon-share:before {
    content: "\f122";
}
.flaticon-read:before {
    content: "\f123";
}
.flaticon-video-camera:before {
    content: "\f124";
}
.flaticon-volume-up:before {
    content: "\f125";
}
.flaticon-language:before {
    content: "\f126";
}
.flaticon-clock:before {
    content: "\f127";
}
.flaticon-quality:before {
    content: "\f128";
}
.flaticon-bandwidth:before {
    content: "\f129";
}
.flaticon-edit:before {
    content: "\f12a";
}
.flaticon-calendar:before {
    content: "\f12b";
}
.flaticon-comment:before {
    content: "\f12c";
}
.flaticon-open-envelope:before {
    content: "\f12d";
}
.flaticon-map-point:before {
    content: "\f12e";
}
.flaticon-question:before {
    content: "\f12f";
}
.flaticon-trend:before {
    content: "\f130";
}
.flaticon-trending:before {
    content: "\f131";
}
